


<div>
<!-- social media -->
</div>
<div class = "mainImage">
  <nav class="navbar navbar-default & nobackground" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mr. Sweeper Image</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Services</a></li>
        <li><a href="#">Staff</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <!-- main area for main image, h1, and mission statement -->
  <h1>
    <!-- This statement is important for SEO and should be simple and direct -->
  </h1>

</div>
<div class = "container">
  <div class = "info">
   <!--  in these classes we will explain why to choose us, what services we provide, and show off the staff -->
  </div>

</div>


